/* modal */
.modal{
  .modal-dialog{
    @media (min-width: 576px){
      max-width: 300px;
    }
  }
}

.form-signin{
  .form-control{
    margin: 1rem 0;
  }
}

/* nav link */
.nav-link{
  cursor: pointer;
}
